.body {
  font-family: $ff-primary;
  position: relative;
}

.card {
  background-color: $clr-white;
  &__illustration {
    &--desktop {
      display: none;
    }
  }
  &__main {
    padding: 2rem 1.5rem;
    color: $clr-grey-dark-slate;
  }
  &__heading {
    font-size: 2.5rem;
    padding-block-end: 0.7rem;
  }
  &__list {
    padding-block: 1.5rem 2.4rem;
    display: grid;
    gap: 0.7rem;
    // padding-inline-start: 2.2rem;
    &__item {
      display: flex;
      font-weight: $fw-400;
      gap: 1rem;

      > img {
        align-self: start;
      }
    }
  }

  &--sign-up {
    opacity: 1;
    transition: $transition;
  }

  // padding-block-end: 0.5rem;
  &--success {
    padding-block-start: 9rem;
    position: absolute;
    inset-block-start: 0;
    z-index: 100;
    min-block-size: 100vh;
    display: grid;
    gap: 2.5rem;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    color: $clr-grey-dark-slate;
    opacity: 1;
    transition: $transition;

    &__heading {
      padding: 3rem 0 1.25rem;
      line-height: 1;
    }
  }
}

.form {
  display: grid;
  position: relative;
  &__label {
    font-size: 0.75rem;
    font-weight: $fw-700;
    color: $clr-grey-dark-slate;
  }
  &__input {
    border: 1px solid $clr-grey;
    border-radius: $border-radius;
    padding: 0.9rem 1.4rem;
    margin-block: 0.5rem 1.5rem;
    color: $clr-grey-dark-slate;

    &:active {
      border-color: $clr-grey-dark-slate;
    }
    &::placeholder {
      color: $clr-grey;
    }
  }

  > span.error-message {
    font-size: 0.75rem;
    font-weight: 700;
    color: $clr-tomato;
    position: absolute;
    inset-inline-end: 0;
  }
}

.btn {
  border: 0;
  background-color: $clr-grey-dark-slate;
  color: $clr-white;
  font-weight: $fw-700;
  // letter-spacing: 0.05px;
  border-radius: $border-radius;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background: $clr-tomato;
  }

  &--dismiss {
    align-self: end;
  }
}

.email-span {
  font-weight: $fw-700;
}

@media (min-width: 376px) {
  .body {
    display: grid;
    place-items: center;
    background-color: $clr-grey-charcoal;
  }

  .card {
    border-radius: 2rem;
    &--sign-up {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 1.5rem;
      inline-size: min(100%, 57rem);
    }

    &--success {
      padding: 3.5rem 4rem;
      min-block-size: auto;
      inset-block-start: 50%;
      translate: 0 -50%;
      inline-size: min(100%, 32rem);
      &__heading {
        padding-block: 2rem;
      }
    }

    &__illustration {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }

    &__main {
      // align-self: center;
      inline-size: min(100%, 27rem);
      margin-inline: auto;
      // padding: 2rem 1rem;
      // > .container {
      // padding-inline-end: 2rem;
      // }
    }

    &__heading {
      font-size: 3.5rem;
    }
  }
}

.fade {
  opacity: 0;
  z-index: -1;
}

.no-display {
  display: none;
}

.error {
  color: $clr-tomato;
  border-color: $clr-tomato;
  $clr-tomato: hsl(4, 100%, 67%, 0.1);
  background-color: $clr-tomato;
}
