/* Box sizing, margin and padding rules*/
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 1px solid black;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-padding-block-start: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  inline-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

.body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.card {
  background-color: hsl(0, 0%, 100%);
}
.card__illustration--desktop {
  display: none;
}
.card__main {
  padding: 2rem 1.5rem;
  color: hsl(234, 29%, 20%);
}
.card__heading {
  font-size: 2.5rem;
  padding-block-end: 0.7rem;
}
.card__list {
  padding-block: 1.5rem 2.4rem;
  display: grid;
  gap: 0.7rem;
}
.card__list__item {
  display: flex;
  font-weight: 400;
  gap: 1rem;
}
.card__list__item > img {
  align-self: start;
}
.card--sign-up {
  opacity: 1;
  transition: opacity 0.5s;
}
.card--success {
  padding-block-start: 9rem;
  position: absolute;
  inset-block-start: 0;
  z-index: 100;
  min-block-size: 100vh;
  display: grid;
  gap: 2.5rem;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  color: hsl(234, 29%, 20%);
  opacity: 1;
  transition: opacity 0.5s;
}
.card--success__heading {
  padding: 3rem 0 1.25rem;
  line-height: 1;
}

.form {
  display: grid;
  position: relative;
}
.form__label {
  font-size: 0.75rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}
.form__input {
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 0.5rem;
  padding: 0.9rem 1.4rem;
  margin-block: 0.5rem 1.5rem;
  color: hsl(234, 29%, 20%);
}
.form__input:active {
  border-color: hsl(234, 29%, 20%);
}
.form__input::placeholder {
  color: hsl(231, 7%, 60%);
}
.form > span.error-message {
  font-size: 0.75rem;
  font-weight: 700;
  color: hsl(4, 100%, 67%);
  position: absolute;
  inset-inline-end: 0;
}

.btn {
  border: 0;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}
.btn:hover {
  background: hsl(4, 100%, 67%);
}
.btn--dismiss {
  align-self: end;
}

.email-span {
  font-weight: 700;
}

@media (min-width: 376px) {
  .body {
    display: grid;
    place-items: center;
    background-color: hsl(235, 18%, 26%);
  }
  .card {
    border-radius: 2rem;
  }
  .card--sign-up {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.5rem;
    inline-size: min(100%, 57rem);
  }
  .card--success {
    padding: 3.5rem 4rem;
    min-block-size: auto;
    inset-block-start: 50%;
    translate: 0 -50%;
    inline-size: min(100%, 32rem);
  }
  .card--success__heading {
    padding-block: 2rem;
  }
  .card__illustration--mobile {
    display: none;
  }
  .card__illustration--desktop {
    display: block;
  }
  .card__main {
    inline-size: min(100%, 27rem);
    margin-inline: auto;
  }
  .card__heading {
    font-size: 3.5rem;
  }
}
.fade {
  opacity: 0;
  z-index: -1;
}

.no-display {
  display: none;
}

.error {
  color: hsl(4, 100%, 67%);
  border-color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.1);
}

/*# sourceMappingURL=style.css.map */
