// FONTS
$ff-primary: "Roboto", sans-serif;
$fs-primary: 1rem;
$fw-400: 400;
$fw-700: 700;

// COLORS
$clr-tomato: hsl(4, 100%, 67%);

$clr-white: hsl(0, 0%, 100%);
$clr-grey: hsl(231, 7%, 60%);
$clr-grey-charcoal: hsl(235, 18%, 26%);
$clr-grey-dark-slate: hsl(234, 29%, 20%);

$border-radius: 0.5rem;